$sunny: linear-gradient(#ecae7d, #d05776);
$sunnyNight: linear-gradient(#7dbbec, #57d0b1);
$windy: linear-gradient(#c6d383, #66894f);
$windyNight: linear-gradient(#9083d3, #724f89);
$rainy: linear-gradient(#70a6c8, #485188);
$rainyNight: linear-gradient(#801e0a, #887f48);
$clouds: linear-gradient(#c8b5b3, #5c5a4e);

.main-container {
  margin: auto;
  margin-top: 100px;
  width: 378px;
  height: 700px;
  background: $sunnyNight;
  position: relative;
  transition: all 2s;
}
.Clear {
  margin: auto;
  margin-top: 100px;
  width: 378px;
  height: 700px;
  background: $sunny;
  position: relative;
  transition: all 2s;
}
.Clouds {
  margin: auto;
  margin-top: 100px;
  width: 378px;
  height: 700px;
  background: $clouds;
  position: relative;
  transition: all 2s;
}
.modal {
  width: 90%;
  height: 95%;
  background-color: rgb(145, 162, 219);
  position: absolute;
  z-index: 5;
  opacity: 0.9;
  top: 2%;
  left: 5%;
  color: white;
  .write {
    display: block;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 19%;
    background-color: rgb(253, 253, 253);
  }
  .close {
    position: absolute;
    top: 1%;
    left: 6.5%;

    font-size: 30px;
  }
  .change {
    display: block;
    margin: auto;
    position: absolute;
    top: 55%;
    left: 37%;
  }
}
.nav-container {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: space-between;
  .hamburger-menu-container {
    width: 30%;
    height: 100%;
    color: white;
    .ham {
      display: block;
      margin: auto;
      font-size: 30px;
      padding: 20px;
    }
  }

  .time-container {
    width: 30%;
    height: 100%;

    color: white;
    text-align: center;
    .time {
      display: block;
      padding: 20px;
      font-weight: 600;
    }
  }
}

.top-container {
  width: 100%;
  height: 20%;

  display: flex;
  flex-flow: column;
  .date-container {
    width: 100%;
    height: 35%;

    text-align: center;
    .today {
      color: white;
      font-size: 19px;
    }
  }
  .title-container {
    width: 100%;
    height: 20%;
    text-align: center;
    .weather-title {
      color: white;
      font-size: 19px;
      margin-top: 20px;
    }
  }
  .city-container {
    width: 100%;
    height: 35%;

    color: white;
    .city {
      font-size: 40px;
      margin: 0;
      padding: 0;
      text-align: center;
      font-weight: 350;
    }
  }
}

.weather-container {
  width: 100%;
  height: 22%;

  .sunny {
    display: block;
    margin: auto;
    font-size: 150px;

    color: white;
  }
}
.temperature-container {
  width: 100%;
  height: 10%;

  text-align: center;
  .temp {
    font-size: 45px;
    color: white;
  }
}
.footer-container {
  width: 100%;
  height: 30%;

  .footer-container-1 {
    width: 100%;
    height: 25%;
  }
  .blank {
    height: 5%;
  }
  .footer-container-2 {
    width: 75%;
    height: 20%;
    color: white;
    margin: auto;
    display: flex;
    justify-content: space-around;
    .dateBox {
      text-align: center;
      width: 25%;
      height: 100%;
      border-bottom: 2px solid white;
      opacity: 0.3;
    }
    .dateBox:hover {
      cursor: pointer;
    }
    .today {
      text-align: center;
      width: 25%;
      height: 100%;
      border-bottom: 2px solid white;
      margin: 0;
    }
  }
  .footer-container-3 {
    width: 80%;
    height: 40%;

    display: flex;
    justify-content: space-between;
    margin: auto;

    .timetable-box {
      width: 16.5%;
      height: 100%;

      display: flex;
      text-align: center;
      flex-flow: column;
      color: white;
      .eachWeather {
        width: 100%;

        .sun {
          display: block;
          margin: auto;
          font-size: 45px;
          margin-top: 15px;
        }
      }
    }
  }
  .footer-container4 {
    width: 85%;
    margin: auto;
    height: 10%;

    display: flex;
    .wbox {
      width: 20%;
      height: 100%;
      text-align: center;
      font-size: 18px;
      color: white;
    }
  }
}
